@font-face {
    font-family: manrope;
    src: url(../font/Manrope-VariableFont_wght.ttf);
}
@font-face {
    font-family: manrope-light;
    src: url(../font/Manrope-Light.ttf);
}
@font-face {
    font-family: manrope-bold;
    src: url(../font/Manrope-Bold.ttf);
}
@font-face {
    font-family: manrope-extrabold;
    src: url(../font/Manrope-ExtraBold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: manrope;
}
.coming-link{
    background: #d0d2dc;
    padding: 0 12px;
    border-radius: 12px;
    font-size: 12px;
    text-align: center;
}
.banner-top{
    border-radius: 12px;
    padding: 24px;
}
.v-progs{
    width: 64px; height: 64px; color: #fff;
}
.bg-grn{
    background: #a0f000;
}
.b-btn{
    padding: 16px 32px;
    border-radius: 28px;
    font-size: 15px;
}
@media (max-width:1200px){
    .bnr-txt h3{
        font-size: 18px !important;
    }
    .bnr-txt div{
        font-size: 13px !important;
        max-width: 240px;
    }
    .sideebr{
        display: none;
    }
}
@media (max-width:992px){
    .left-banr{
        margin-right: 0 !important;
        align-items: flex-start !important;
    }
    .banner-contnt{
        align-items: flex-start !important;
    }
    .progss-br{
        margin-bottom: 10px !important;
        margin-right: 0 !important;
    }
    .bnr-txt{
        margin-left: 0 !important;
    }
    .bnr-txt div{
        max-width: 100%;
    }
    .rigt-bnr, .bn-wrap div{
        margin-top: 15px;
        width: 100%;
        text-align: center;
    }
    .b-btn{
        width: 100%;
        display: block;
    }
    .bn-wrap{
        justify-content: center !important;
    }
    .bn-wrap .b-btn{
        width: 100%;
        display: block;
    }
}
.fund-card{
    background: #f6f6f9;
    padding: 24px !important;
    border-radius: 12px;
}
.txt-lght{
    color: #fff;
}
.fund-sp{
    margin-bottom: 30px;
}
.v-dot{
    width: 12px;
    height: 12px;
    border-radius: 12px;
}